@import '~@fortawesome/fontawesome-free/css/all.css';

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #656565;
  --verde-color: #57A773;
}

:root {
  --navbar-width: 80px;
  --primary-font: 'EB Garamond', serif;
  --secundary-font: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--primary-font);
}

.container__pages{
  margin-left: var(--navbar-width);
  width: calc( 100vw - var(--navbar-width) );
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 20px;
  box-sizing: border-box;
}
.title p{
  font-family: var(--secundary-font);
  box-sizing: border-box;
  font-size: 48px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
