<div class="container__pages">
  <div class="title">
    <p>
      ABOUT ME
    </p>
  </div>
  <div class="about__container">
    <div class="about__img">
      <img src="../../../assets/img/profile-img-01.png" alt="profile_img_1">
    </div>
    <div class="about__text">
      <p>¡Hola! Soy Bryan Antonelly, Fullstack Developer</p>
      <p>
        y me complace darte la bienvenida a mi portafolio.
        Permíteme contarte un poco más sobre quién soy y lo que me apasiona.

        Soy bachiller en Ingeniería de Sistemas apasionado con experiencia en desarrollo full stack developer en la zona registral N°IX y Sede central de Sunarp. Me enorgullece decir que he tenido la oportunidad de trabajar en proyectos emocionantes que han desafiado mis habilidades y me han permitido crecer como profesional. Estas experiencias me han enseñado la importancia de la resiliencia, la adaptabilidad y el trabajo en equipo.

        Una de las cosas que más valoro en mi vida profesional es la oportunidad de colaborar con personas talentosas y apasionadas. Creo firmemente en la idea de que juntos podemos lograr cosas extraordinarias. Mi enfoque en el trabajo en equipo y la comunicación efectiva me ha ayudado a construir relaciones sólidas y a alcanzar objetivos ambiciosos.

        Mi misión es ser cada día una mejor versión mía, y estoy emocionado de continuar explorando nuevas oportunidades y desafíos que me permitan crecer y contribuir de manera significativa.

        Gracias por tomarte el tiempo para conocerme un poco mejor. Si te gustaría conectarte o colaborar, ¡estaré encantado de hablar contigo!
      </p>
    </div>
  </div>
</div>
